server:
  port: 8090
  error:
    include-message: always


eureka:
  instance:
    hostname: localhost
  client:
    #    register-with-eureka: true
    #    fetch-registry: true
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
#  instance:
#    preferIpAddress: true


# datasource
spring:
  application:
    name: scheduler-api
  config:
    import: optional:configserver:http://localhost:8080

client:
  employee:
    name: employee
    url: http://localhost:8092
  room:
    name: room
    url: http://localhost:8091
